.EditableList {
  .Label {
    @include EditableLabel;
  }
  & {
    display: flex;
    gap: 4px;
    flex-direction: column;
  }
  // Reduce whitespace in Mapping section
  &[data-id='context'],
  &[data-id='context-item'],
  &[data-id='graph_context'],
  &[data-id='graph_context-item'] {
    gap: 2px;
    .Wrapper,
    .ItemsWrapper {
      gap: 4px;
    }
  }
  .Wrapper,
  .ItemsWrapper {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }
  &[data-layout='vertical'] {
    .Wrapper,
    .ItemsWrapper {
      flex-direction: column;
      align-items: stretch;
    }
    .Label {
      @include EditableVerticalSectionLabel;
    }
  }
  &[data-layout='horizontal'] {
    .Wrapper,
    .ItemsWrapper {
      flex-direction: row;
      align-items: center;
    }
  }
  .Item {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
  }
  .ItemElement {
    flex: 1;
  }
  .removeRowIcon {
    color: $errorColor;
  }
  .addRowIcon {
    color: $successColor;
  }
}
