.EditableObject {
  &[data-layout='vertical'] {
    &:not(:first-child) {
      margin-top: 12px;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    & + & {
      margin-top: 0;
    }
  }
  // Reduce whitespace in Mapping section
  &[data-id='mapping'],
  &[data-id='source'],
  &[data-id='target'],
  &[data-id='labels'] {
    margin-top: 4px;
    margin-bottom: 4px;
    gap: 8px;
    &[data-layout='vertical'] {
      &:not(:first-child) {
        margin-top: 4px;
      }
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
  .EditableObject_Label {
    @include EditableLabel;
  }
  display: flex;
  gap: 16px;
  &[data-layout='horizontal'] {
    // DEBUG
    // border: 4px solid $demoColor;
  }
  &[data-layout='vertical'] {
    flex-direction: column;
    .EditableObject_Label {
      @include EditableVerticalSectionLabel;
    }
  }
}
